
/* All the main colors */
:root {
    --primary: blue;
    --secondary: red;
    --tertiary: rgb(192, 246, 253);
    --white: white;
    --background: orange;
    font-size: 80%;
  }

  
body {
    background: var(--primary)
}

/* Main groups for each section */

.start8btn,
.info8box,
.box8quiz,
.results
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
}


.info8box.activeInfo,
.box8quiz.activeQuiz {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(.9);
    z-index: 5;
}

.start8btn button{
    font-size: 35px;
    font-weight: 600;
    background: var(--background);
    padding: 20px 25px;
    border-radius: 6px;
    outline: none;
    color: var(--primary);
}

.info8box{
    width: 600px;
    background: var(--background);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(.6);
}

.info8box .info8title {
    height: 65px;
    border-bottom: 2px dotted powderblue;
    display: flex;
    padding: 0 40px;
    align-items: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

.info8box .info8list {
    padding: 15px 40px;
}

.info8box .info8list .in {
    margin: 7px 0;
    font-size: 20px;
}

.info8box .info8list .in span {
    font-style: italic;   
}

.info8box .exit8btn {
    height: 50px;
    justify-content: flex-end;
    display: flex;
    padding: 0 40px;
    align-items: center;
    border-top: 2px dotted salmon;
}

.info8box .exit8btn button {
    margin: 5px 5px;
    background: var(--background);
    color: var(--primary);
    outline: none;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 450;
    border: 2px dotted salmon;
    cursor: pointer;
    transition: .5s ease-in;
}

.exit8btn button.leave {
    color: white;
    background: var(--primary);
}

.exit8btn button.leave:hover {
    background: chartreuse;
}

.exit8btn button.continue {
    color: white;
    background: var(--primary);
}

.exit8btn button.continue:hover {
    background: chartreuse;
}

.box8quiz {

    width: 600px;
    background: var(--secondary);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(.6);
}

.box8quiz header {
    height: 85px;
    padding: 0 35px;
    background: var(--secondary);
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    position: relative
}


.box8quiz header .title{
    font-size: 20px;
    font-weight: 700;
}

.box8quiz header .time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    background: var(--tertiary);
    border: 1px dotted var(--secondary);
    border-radius: 6px;
    padding: 0 8px;
}

.box8quiz header .time .time8font{
    font-weight: 350;
    user-select: none;
    }

    .box8quiz header .time .seconds {
        font-size: 20px;
        font-weight: 450;
        background: var(--tertiary);
        height: 35px;
        width: 40px;
        color: turquoise;
        text-align: center;
        border-radius: 7px;
        line-height: 30px;
        border: 2px dotted gainsboro;
        user-select: none;
}

.box8quiz section {
    padding: 20px 35px 25px  35px;
    background: red;
}

.box8quiz section .display8text {
    font-size: 30px;
    font-weight: 525;
}

.box8quiz section .options8list{
    padding: 20px;
    display: block;
    }

    .box8quiz section .options8list .option {
        border: 2px dotted aquamarine;
        border-radius: 6px;
        background: blueviolet;
        margin-bottom: 20px;
        padding: 9px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

    }

    section .options8list .option:hover {
        color: cyan;
        background: darkgray;
        border-color: darkgreen;
    }


    .options8list .option.correct{
        color: cyan;
        background: darkgray;
        border-color: darkgreen;
    }

    .options8list .option.incorrect{
        color: cyan;
        background: darkgray;
        border-color: darkgreen;
    }

    .options8list .option.disabled{
        pointer-events: none;
    }

    
    .box8quiz footer {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
    }

    .box8quiz footer .final8que span{
        display: flex;
        user-select: none;
    }

    footer .final8que span p {
        font-weight: 700;
        padding: 0 10px;
    }
  
    footer .final8que span p:first-child{
        padding-left: 0px;

    }

    footer .next8btn {
        height: 40px;
        padding: 0 15px;
        font-size: 18px;
        border: none;
        color: blueviolet;
        background: blue;
        border-radius: 6px;
        border: 2px dotted aquamarine;
        cursor: pointer;
        margin: 60%;
    }

    footer .next8btn:hover {
        background: brown;

    }

    .results {
        background: var(--primary);
        width: 400px;
        padding: 25px 30px;
        border-radius: 7px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(.6);

    }

    .results .icon {
        font-size: 80px;
        color: var(--secondary);
        margin-bottom: 12px;
    }

    .results .final8text {
        font-size: 20px;
        font-weight: 600;
    }

    .results .score8text span {
        display: flex;
        margin: 10px 0;
        font-size: 20px;

    }

    .score8text span p {
        font-weight: 500;
    }

    .results .button {
        display: flex;
        margin: 20px 2px;

    }

    .results .button button {
        margin: 1px 12px;
        height: 45px;
        padding: 0 25px;
        border: none;
        font-size: 19px;
        border: 2px dotted blue;
        cursor: pointer;
        transition: all .4s ease-in;
    }

